<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="main-content">

    <h3>Register</h3>
    <div class="messg">
        <span id="logResult" style="color: red;" th:utext="${checkLogin}"></span>
    </div>
    <form th:action="@{/register}" method="POST">
        <input type="text" name="email" placeholder="Email" /><br />
        <input type="password" name="password" placeholder="Password" /><br />
        <input type="password" name="retypepassword" placeholder="Retype password" /><br />
        <button type="submit">Register</button> <br />
    </form>
</div>
</body>
</html>